@import "../../styles/pallette";
@import "../../styles/dimensions";

.greeting {
  &-head {
    align-items: center;
    display: flex;
    margin: 0 auto;
    width: 80%;
    justify-content: space-between;
    &-contact {
      align-items: center;
      display: flex;
      justify-content: space-between;
      width: 15%;
      color: $primary;
      @media screen and (max-width: $tablet-max-width) {
        width: 20%;
      }
      @media screen and (max-width: $phone-max-width) {
        width: 55%;
      }
      .social-link {
        text-decoration: none;
        color: inherit;
      }
    }
  }
  &-body {
    h1 {
      font-size: 3rem;
    }
  }
}
