@import "../../styles/pallette";
@import "../../styles/dimensions";

.greeting {
  &-head {
    align-items: center;
    display: flex;
    margin: 0 auto;
    width: 80%;
    justify-content: space-between;
  }
  &-body {
    h1 {
      font-size: 3rem;
    }
  }
}
