@import "../../styles/pallette";
@import "../../styles/dimensions";
.samples {
  background-color: $primary;
  margin-top: 60px;
  text-align: center;
  h3 {
    font-size: 2em;
    font-weight: bold;
  }
  color: black;
  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    @media screen and (max-width: $tablet-max-width) {
      width: 100%;
    }
  }
  &-more {
    display: flex;
    width: 100%;
    justify-content: center;
    &-link {
      border: 1px solid black;
      @media screen and (max-width: $tablet-max-width) {
        font-size: 1.2em;
      }
      &:hover {
        color: $primary;
        background-color: black;
        border: 1px solid black;
      }
      @media (hover: none) {
        color: $primary;
        background-color: black;
        border: 1px solid black;
      }
    }
  }
}
