@import "../../styles/pallette";
$tooltip-background-color: $primary;
@import "~bulma/bulma.sass";
@import "~bulma-tooltip";

html,
body {
  font-family: "Jura";
  background-color: black;
}

::-webkit-scrollbar {
  width: 5px;
  border: 1px solid white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary;
}
::selection {
  background: $primary; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $primary; /* Gecko Browsers */
}
