@import "../../styles/pallette";

.introduction {
  background-color: $primary;
  color: black;
  &-container {
    padding: 100px 0;
    margin: auto;
    text-align: center;
    width: 60%;
    &-name {
      font-size: 3em;
    }
    &-summary {
      font-size: 1.5em;
    }
  }
}
