@import "../../styles/pallette";
@import "../../styles/dimensions";

.introduction {
  background-color: $primary;
  color: black;
  &-container {
    padding: 100px 0;
    margin: auto;
    text-align: center;
    width: 60%;
    @media screen and (max-width: $tablet-max-width) {
      width: 100%;
    }
    &-name {
      font-size: 3em;
      font-weight: bold;
      @media screen and (max-width: $tablet-max-width) {
        font-size: 1.5em;
      }
    }
    &-summary {
      @media screen and (max-width: $tablet-max-width) {
        font-size: 1em;
      }
    }
  }
  &-skills {
    background-color: black;
    border-radius: 10px;
    border: 0.5px solid white;
    color: white;
    left: 50%;
    position: absolute;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    div.tool-set {
      box-sizing: border-box;
      width: 33%;
      &:nth-child(2) {
        border-left: 1px solid white;
        border-right: 1px solid white;
      }
      @media screen and (max-width: $tablet-max-width) {
        width: 100%;
        &:nth-child(2) {
          border-top: 1px solid white;
          border-bottom: 1px solid white;
          border-left: 0;
          border-right: 0;
        }
      }
    }
  }
}
