@import "../styles/pallette";
@import "../styles/dimensions";

.message-page {
  text-align: center;
  &-header {
    padding: 0 10%;
    margin: auto;
    color: $primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
  }
  progress.message-page-progress {
    background-image: linear-gradient(to right, $primary 30%, #dbdbdb 30%);
  }
  &-greeting {
    font-size: 2em;
    color: white;
    font-weight: bold;
    margin-top: 40px;
    @media screen and (max-width: $phone-max-width) {
      font-size: 1.5em;
    }
  }
  &-notification {
    width: 60%;
    margin: auto;
    font-size: 1.5em;
    @media screen and (max-width: $phone-max-width) {
      font-size: 1em;
      width: 90%;
    }
    &-success {
      background-color: $primary;
      color: black;
    }
  }
  &-form {
    width: 60%;
    @media screen and (max-width: $phone-max-width) {
      width: 90%;
    }
    margin: auto;
    @mixin input() {
      font-family: "Jura";
      background-color: black;
      border: 1px solid white;
      color: white;
      &:focus {
        border: 1px solid $primary;
        box-shadow: none;
      }
    }
    &-contact {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      div {
        text-align: left;
        width: 48%;
        label {
          color: white;
        }
        input {
          width: 100%;
          @include input();
        }
        @media screen and (max-width: $phone-max-width) {
          width: 100%;
        }
      }
    }
    &-message {
      margin: 50px 0;
      text-align: left;
      label {
        color: white;
      }
      textarea {
        width: 100% !important;
        @include input();
      }
    }
    &-submit {
      background-color: transparent;
      color: $primary;
      border-color: $primary;
      @mixin highlighted() {
        color: black;
        background-color: $primary;
        border-color: $primary;
      }
      &:hover {
        @include highlighted();
      }
      @media screen and (max-width: $tablet_max_width) {
        @include highlighted();
      }
    }
  }
}
