@import "../../styles/pallette";

.tool-set {
  padding: 30px 20px;
  &-icon {
    color: $primary;
  }
  &-name {
    font-weight: bold;
    font-size: 1.5em;
    margin: 20px 0;
  }
  &-description {
    margin: 40px 0;
  }
  &-tools {
    span {
      color: $primary;
      font-weight: bold;
    }
  }
}
