@import "../../styles/dimensions";

.certifications {
  text-align: center;
  h3 {
    color: white;
    font-size: 2em;
    font-weight: bold;
  }
  &-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
    &-item {
      width: 30%;
      max-height: 200px;
      margin-bottom: 50px;
      color: white;
      img {
        max-height: 200px;
        max-width: 200px;
      }
      @media screen and (max-width: $phone-max-width) {
        width: 100%;
      }
    }
  }
  &-more {
    &-link {
      border-color: #18624a;
      background-color: transparent;
      color: #18624a;
      &:hover {
        background-color: #18624a;
        border-color: #18624a;
        color: black;
      }
      @media (hover: none) {
        background-color: #18624a;
        border-color: #18624a;
        color: black;
      }
      @media screen and (max-width: $phone-max-width) {
        font-size: 1.2em;
      }
    }
  }
}
